[submodule "autoload/plugged/nvim-jdtls"]
	path = autoload/plugged/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls
[submodule "autoload/plugged/vim-prisma"]
	path = autoload/plugged/vim-prisma
	url = https://github.com/jakewvincent/vim-prisma
[submodule "pack/plugins/start/null-ls.nvim"]
	path = pack/plugins/start/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
[submodule "autoload/plugged/null-ls.nvim"]
	path = autoload/plugged/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
